<li class="list-group-item">
	<b>{{this.burger_name}}</b>

	<button type="button" class="btn btn-xs btn-danger delete-burger pull-right" data-id="{{this.id}}">DELETE!</button>

	<button type="button" class="btn btn-xs btn-success change-devoured pull-right" data-id="{{id}}" data-newburger="{{devoured}}">
		{{#if devoured}}DEVOUR IT!{{else}}COOK AGAIN!{{/if}}
	</button>

</li>

